body{
    
    font-family: "Kanit" ;
    background: linear-gradient(-45deg, #3571a3,#3571a38f, #ffcf43,#ffd04398);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#head{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    text-shadow:2px 2px #000000;

}
#game{
    display: contents;
    margin-left: auto;
    margin-right: auto;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.btn-grad1 {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn-grad1 {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad1:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.btn-grad2 {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
.btn-grad2 {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
