body{
    
    font-family: "Kanit" ;
    background: linear-gradient(-45deg, #3571a3,#3571a38f, #ffcf43,#ffd04398);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#head{
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    text-shadow:2px 2px #000000;

}
#game{
    display: contents;
    margin-left: auto;
    margin-right: auto;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #9752cc;
 
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
#google form{

    
    


}