body{

    background: rgb(53,113,163);
    background: linear-gradient(5deg, rgba(53,113,163,1) 10%, rgba(255,255,255,1) 44%, rgba(255,213,78,1) 90%);
    



}

#swf{

    -webkit-box-shadow:inset 1280px 720px 5px undefinedpx #FAFF73;
    box-shadow:inset 1280px 720px 5px undefinedpx #FAFF73;


}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;

}

#head{
    text-align: center;




}