body{
    background: rgb(53,113,163);
    background: linear-gradient(151deg, rgba(53,113,163,1) 42%, rgba(255,205,61,1) 63%);
    font-family: "Kanit" ;
}


#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;

}

#head{
    text-align: center;

}